$color_black: #000;
$color_white: #fff;
$color_bluish-gray: #abb8c3;
$color_pale-pink: #f78da7;
$color_vivid-red: #cf2e2e;
$color_vivid-orange: #ff6900;
$color_vivid-amber: #fcb900;
$color_light-green-cyan: #7bdcb5;
$color_vivid-green-cyan: #00d084;
$color_pale-cyan-blue: #8ed1fc;
$color_vivid-cyan-blue: #0693e3;
$color_vivid-purple: #9b51e0;


$mobile_w-s: 360px;
$mobile_w: 559px;
$tablet_w: 560px;
$desktop_w: 860px;
$desktop_w_l: 1250px;
$desktop_w_xl: 1920px;