@font-face {
  font-family: OpenSans;
  src: url(../../fonts/OpenSans-Italic-VariableFont_wdth\,wght.woff),
        url(../../fonts/OpenSans-Italic-VariableFont_wdth\,wght.woff2);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: OpenSans;
  src: url(../../fonts/OpenSans-VariableFont_wdth\,wght.woff),
        url(../../fonts/OpenSans-VariableFont_wdth\,wght.woff2);
  font-style: normal;
  font-display: swap;
}